
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Call Logs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="modal" id="callModal" tabindex="-1" role="dialog" aria-labelledby="callModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="callModalLabel">Incoming Call</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Caller: <span id="callerName"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="receiveCall()">Receive</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">End Call</button>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
    function showCallModal(callerName) {
        $('#callerName').text(callerName);
        $('#callModal').modal('show');
    }

    function receiveCall() {
        console.log('Call received');
        $('#callModal').modal('hide');
    }

    $(document).ready(function() {
        showCallModal('John Doe');
    });
</script>

</body>
</html>
