<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <meta charset="utf-8">

</head>
<body>
  {% include 'navbar.html' %}
  <div class="container vh-100">

    <div class="container mt-5 mb-5">
      <div class="card">
        <div class="card-body bg-light p-3 rounded">
          <h5 class="card-title text-center mb-4">User Information</h5>
          <div class="row">
            <div class="col-md-4">
              <p class="p-4 "><img style="border-radius: 50%;" src="http://placehold.it/150x150"></p>
            </div>
            <div class="col-md-8">
              <p><strong>ID:</strong> w0</p>
              <p><strong>First Name:</strong> Ada</p>
              <p><strong>Last Name:</strong> Lovelace</p>
              <p><strong>Email:</strong> ada.lovelace@sipgate</p>
              <p><strong>company:</strong> e0</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-5 w-50  ">
      <div class="input-group justify-content-center">
        <input type="tel" class="form-control" id="phoneInput" placeholder="Enter phone number">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="callButton">
            <i class="fas fa-phone-alt"></i> Call
          </button>
        </div>
      </div>
    </div>
    <div class="container mt-5 ">
      <h3 class="mb-4 display-5">SIPgate Contacts</h3>
      <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody id="contactsTableBody">
            {% for item in context.items %}
                <tr>
                    <td>{{ item.name|default:"-" }}</td>
                    <td>{{ item.emails.0|default:"-" }}</td>
                    <td class="d-flex justify-content-between align-items-center text-center">
                      {{ item.landline.0|default:"-" }}
                      <button type="button" class="btn btn-primary" onclick="copyText('{{ item.landline.0|default:"-" }}')">
                          <i class="fas fa-phone-alt"></i>
                      </button>
                  </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    </div>
  </div>
  {% include 'footer.html' %}
  {% comment %} <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> {% endcomment %}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  
  <script>
    function copyText(text) {
      document.getElementById('phoneInput').value = text;
  }
    function makeApiCall(phoneNumber) {
      console.log('API call initiated for phone number:', phoneNumber);
    }

    $(document).ready(function () {
      function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = jQuery.trim(cookies[i]);
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }
  
      $('#callButton').on('click', function () {
          var phoneNumber = $('#phoneInput').val();
          if (phoneNumber.trim() !== '') {
              var csrftoken = getCookie('csrftoken');
              $.ajax({
                  type: 'POST',
                  url: '/outgoing-call/',
                  dataType: 'json',
                  data: {
                      'callee': phoneNumber
                  },
                  beforeSend: function (xhr) {
                      xhr.setRequestHeader('X-CSRFToken', csrftoken);
                  },
                  success: function (data) {
                      console.log('Outgoing call success:', data);
                  },
                  error: function (error) {
                      console.error('Error making outgoing call:', error);
                  }
              });
          } else {
              alert('Please enter a phone number');
          }
      });
  });

  </script>
  
</body>
</html>
