{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <meta charset="utf-8">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="{% static 'app.js' %}"></script>
</head>
<body>
  {% include 'navbar.html' %}
  <div class="container vh-100">

    <div class="container mt-5 mb-5">
      <div class="card">
        <div class="card-body bg-light p-3 rounded">
          <h5 class="card-title text-center mb-4">User Information</h5>
          <div class="dropdown" style="position: absolute; top: 10px; right: 10px;">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Switch User
            </button>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              {% for user in context.user_data %}
                <a class="dropdown-item user-option" href="#" data-user-id="{{ user.sipgate_user }}" data-user-caller="{{ user.caller}}"  data-user-phone-number="{{ user.phone_number}}" data-user-name="{{ user.name }} ">{{ user.name }}</a>
              {% endfor %}
            </div>
          </div>
          
          {% if context.user_data %}
            <div class="row">
              <div class="col-md-4">
                <p class="p-4"><i style="font-size:120px" class="fas fa-user"></i></p>
              </div>
              <div class="col-md-8">
                <p><strong>ID:</strong> <span id="userid">{{ context.user_data.0.sipgate_user }}</span></p>
                <p><strong>Name:</strong> <span id="username">{{ context.user_data.0.name }}</span></p>
                <p><strong>Phone Number:</strong> <span id="phonenumber">{{ context.user_data.0.phone_number }}</span></p>
                <p><strong>Caller: </strong><span id="caller"> {{ context.user_data.0.caller }}</span></p>
                <p class="d-none "><strong>Alias Name:</strong> <span  id="caller_id">0211-87973990565</span></p>
                <p class="d-none "><strong>id:</strong> <span  id="default_id">{{ context.user_data.0.id }}</span></p>
                <p class="d-none "><strong>Sipgate User Token:</strong> <span id="user_token">{{ context.user_data.0.sipgate_user_token }}</span></p>
                <p class="d-none"><strong>Sipgate User Token:</strong> <span id="user_token_id">{{ context.user_data.0.sipgate_user_token_id }}</span></p>
              </div>
            </div>
          {% endif %}
    </div>
          </div>
      </div>

    <div class="container mt-5 w-50  ">
      <div class="input-group justify-content-center">
        <input type="tel" class="form-control" id="phoneInput" placeholder="Enter phone number">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="callButton">
            <i class="fas fa-phone-alt"></i> Call
          </button>
        </div>
      </div>
    </div>
    <div class="container mt-5 ">
      <h3 class="mb-4 display-5">SIPgate Contacts</h3>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Name</th>
                <th>Phone Number</th>
            </tr>
          </thead>
        <tbody id="contactsTableBody">
          {% for item in context.contact_data %}
          <tr>
            <td>{{ item.name|default:"-" }}</td>
            <td class="d-flex justify-content-between align-items-center text-center">
              {{ item.phone_number|default:"-" }}
              <button type="button" class="btn btn-primary" onclick="copyText('{{ item.phone_number|default:"-" }}')">
                <i class="fas fa-phone-alt"></i>
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      
    </div>
  </div>
  {% include 'footer.html' %}
  <script>
    function copyText(text) {
      document.getElementById('phoneInput').value = text;
  }

  $(document).ready(function () {

    function updateUserInformation(userId, userName, userPhoneNumber, userCaller) {
      var csrftoken = getCookie('csrftoken');
      console.log('Updating user information for ID:', userId);

      axios({
        method: 'POST',
        url: '/',
        headers: {
          'X-CSRFToken': csrftoken,
          'Content-Type': 'application/json',
        },
        data: {
          'user_id': userId,
        },
      })
      .then(function (response) {
        console.log('Success response:', response);
        
        var userData = response.data;
        updateDOM(userData);
        sessionStorage.setItem('userData', JSON.stringify({
          id: userId,
          name: userName,
          phone_number: userPhoneNumber,
          caller: userCaller,
        }));
        location.reload();
      })
      .catch(function (error) {
        console.error('Error updating user information:', error);
        console.log('Error response:', error.response); 
      });
    }

    var storedUserData = sessionStorage.getItem('userData');
    if (storedUserData) {
      storedUserData = JSON.parse(storedUserData);
      updateDOM(storedUserData);
    }

    $('.user-option').on('click', function (e) {
      var userId = $(this).data('user-id');
      var userName = $(this).data('user-name');
      var userPhoneNumber = $(this).data('user-phone-number');
      var user_token = $('#user_token').text();
      var user_token_id = $('#user_token_id').text();
      var caller_id = $('#caller_id').text();
      var caller = $('#caller').text();
      console.log(caller_id)
      var default_id = $('#default_id').text();
      var current_caller = setCookie('caller', caller);
      var sipgate_token = setCookie('sipgate-token', user_token);
      var sipgate_token_id = setCookie('sipgate-token_id', user_token_id);
      var active_user_number = setCookie('active_user_number', userPhoneNumber);
      var caller_id_no = setCookie('caller_id', caller_id);
      var default_id_user = setCookie('default_id', default_id);
      
      var userCaller = $(this).data('user-caller');
      updateUserInformation(userId, userName, userPhoneNumber, userCaller);
      console.log(userId + ': ' + userName);
    });

    function updateDOM(userData) {
      $('#userid').text(userData.id); 
      $('#username').text(userData.name);
      $('#phone-number').text(userData.phone_number);
      $('#caller').text(userData.caller);
    }
    

      $('#callButton').on('click', function () {
        var phoneNumber = $('#phoneInput').val();
  var userid = $('#userid').text();
  var username = $('#username').text();
  var user_token = $('#user_token').text();
  if (phoneNumber.trim() !== '') {
    var csrftoken = getCookie('csrftoken');
    axios({
      method: 'post',
          url: '/outgoing-call/',
          headers: {
            'X-CSRFToken': csrftoken,
          },
          data: {
            'callee': phoneNumber,
              'userid': userid,
              'username': username,
              'user_token': user_token,
            },
      })
      .then(function (data) {
        console.log('Outgoing call success:', data);
      })
      .catch(function (error) {
          console.error('Error making outgoing call:', error);
      });
    } else {
      alert('Please enter a phone number');
    }
});
              
});
  </script>
</body>
</html>
