<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Call Logs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-light">
    {% include 'navbar.html' %}
    <div class="container mt-5 vh-100 ">
        <h1 class="mb-4">Logs</h1>
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>No.</th>
                    <th>Caller</th>
                    <th>Device</th>
                    <th>Duration</th>
                    <th>Date</th>
                    <th>Call Type</th>
                    <th>Caller ID</th>
                    <th>Called On Number</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for log, result in logs_data %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ log.caller }}</td>
                        <td>{{ log.device.device_id }}</td>
                        <td>{{ log.duration }}</td>
                        <td>{{ log.date }}</td>
                        <td>
                            {% if log.call_type %}
                            Outgoing
                            {% else %}
                            Incoming
                            {% endif %}
                        </td>
                        <td>{{ log.caller_id }}</td>
                        <td>{{ log.called_on_number }}</td>
                        <td>{{ result }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            
            
        </table>
        
    </div>
    {% include 'footer.html' %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
