{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/x-icon" href="{% static " fav.png" %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="data:," />
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="{% static 'nav.css' %}" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/"><i class="fas fa-phone-alt"></i>&nbsp;Sipgate Api</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto custom-navbar-nav">
        <li class="nav-item {% if request.path == '/' %}active{% endif %}">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item {% if request.path == '/call-logs/' %}active{% endif %}">
          <a class="nav-link" href="/call-logs">SIPgate Logs</a>
        </li>
        <li class="nav-item {% if request.path == '/logs/' %}active{% endif %}">
          <a class="nav-link" href="/logs">Logs</a>
        </li>
      </ul>
    </div>
  </nav>

  <style>
    .notification {
      position: fixed;
      top: 20px;
      right: 20px;
      z-index: 1050;
      background-color: #28a745;
      color: #fff;
      padding: 15px;
      border-radius: 5px;
    }

    .notification .close-btn {
      position: absolute;
      top: -8px;
      right: 3px;
      color: #ffffff;
      font-size: 22px;
      font-weight: bold;
      cursor: pointer;

    }

    .font-weight-bold {
      font-weight: bold;
    }
  </style>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script>
    function showNotification(message) {
      var notification = $('<div class="notification">')
        .text(message)
        .append('<span class="close-btn">&times;</span>');
      $('body').append(notification);

      notification.find('.close-btn').click(function () {
        notification.remove();
      });
    }

    function pollForIncomingCall() {
      setInterval(function () {
        axios
          .get("/check-incoming-call/")
          .then(function (response) {
            if (response.data.incomingCall) {
              var notificationMessage;
              if (response.data.message === 'In contacts') {
                notificationMessage = 'You have an incoming call from ' + response.data.ContactName + ' (' + response.data.contactNumber + ')';
              } else {
                notificationMessage = 'Incoming call from an Unknown Number: ' + response.data.contactNumber;
              }
              showNotification(notificationMessage);
            }
          })
          .catch(function (error) {
            console.error("Error polling for incoming call:", error);
          });
      }, 5000);
    }

    $(document).ready(function () {
      pollForIncomingCall();
    });

  </script>
</body>

</html>